:root {
  font-family: 'Averia Sans Libre', system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background: linear-gradient(to top, transparent, #111, transparent);
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
}


.light:root {
  background: linear-gradient(to top, transparent, rgb(240,240,240,0.8), transparent);
  background-color: #fff;
}